@charset "UTF-8";
/* CSS Document */

#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

.barre_titre{

background:#999;	
}

.tete_liste{
background:#CCC;	
}

