.qq-uploader { position: relative; width: 100%; /* Idem lien CSS principal --> */padding-top: 1.5px; width: 71px; height: 19px; color: rgb(79,57,29); font-family: tahoma; font-size: 0.75em;}

.qq-upload-button { display: inline-block;  /* ATTENTION : block or inline-block */ }
.qq-upload-button-hover { color: #A79180; /* Idem lien CSS principal */ }
.qq-upload-button-focus { outline: 0; }

.qq-upload-drop-area { position: absolute; top: 0; left: 0; width: 100%; height: 100%; min-height: 70px; z-index: 2; background: #FF9797; text-align: center; }
.qq-upload-drop-area span { display: block; position: absolute; top: 50%; width: 100%; margin-top: -8px; font-size: 16px; }
.qq-upload-drop-area-active { background: #FF7171; }

.qq-upload-list { margin: 15px 35px; padding: 0; list-style: disc; }
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text { margin-right: 7px; }

.qq-upload-file {}
.qq-upload-spinner { display: inline-block; background: url("../design/fileuploader/loading.gif"); width: 15px; height: 15px; vertical-align: text-bottom; }
.qq-upload-size,.qq-upload-cancel { font-size: 11px; }

.qq-upload-failed-text { display: none; }
.qq-upload-fail .qq-upload-failed-text { display: inline; }

/* Le cadre avec les fichiers ajoutés */
#files-list { border: 3px solid #fff; background-color: #CABBAF; margin: 1em 0 0 0; padding: 0.7em 1em 0.7em 1em; font-size: 0.9em; }
#files-list li { margin: 0.7em 0 0 1em; color: #784E04; }
#files-list .files-list-title { font-weight: bold; margin: 0.5em 0 0.5em 0; color: rgb(51,2,8); } /* Texte titre cadre */